Data Analytics II

1. Implement logistic regression using Python/R to perform classification on
Social_Network_Ads.csv dataset.
2. Compute Confusion matrix to find TP, FP, TN, FN, Accuracy, Error rate, Precision, Recall
on the given dataset.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Dataset/Social_Network_Ads.csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df.tail()

      User ID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

In [5]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [7]:
df.shape

(400, 5)

In [8]:
df.dtypes

User ID             int64
Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [9]:
x = df[['Age','EstimatedSalary']]
y = df['Purchased']
print(x)

# x: The feature matrix that contains two columns: 'Age' and 'EstimatedSalary' (independent variables). y: The target variable, which is 'Purchased' (binary variable: 0 or 1). print(x): Prints the feature matrix (x) for inspection.

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=40)
print(x_train)

# train_test_split(): Splits the data into training and testing sets. x_train and y_train: Features and target for training the model. x_test and y_test: Features and target for testing the model. test_size=0.2: 20% of the data will be used for testing, and 80% will be used for training. random_state=40: Ensures reproducibility by controlling the random split. print(x_train): Prints the feature matrix for the training set (x_train).

     Age  EstimatedSalary
85    31           118000
69    31            68000
203   41            71000
379   58            23000
261   36           144000
..   ...              ...
306   51           134000
165   18            86000
7     32           150000
219   59           143000
326   41            72000

[320 rows x 2 columns]

In [11]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train,y_train)

# LogisticRegression(): Initializes a logistic regression model. model.fit(x_train, y_train): Trains the logistic regression model using the training data (x_train, y_train), where x_train is the feature matrix and y_train is the target variable.

LogisticRegression()

In [12]:
y_pred = model.predict(x_test)
print(y_pred)

# model.predict(x_test): The trained model is used to predict the target variable (y_pred) on the test set (x_test). print(y_pred): Prints the predicted values for the test set.

[0 0 0 0 0 0 1 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 1 0 1 0 0 1 0 0
 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0
 0 1 0 0 0 0]

In [13]:
from sklearn.metrics import confusion_matrix,recall_score,precision_score,accuracy_score
cm = confusion_matrix(y_test,y_pred)
print(cm)

# confusion_matrix(): Computes the confusion matrix by comparing the predicted labels (y_pred) with the actual labels (y_test). print(cm): Prints the confusion matrix, which contains the counts of True Positives (TP), False Positives (FP), False Negatives (FN), and True Negatives (TN).

[[54  2]
 [11 13]]

In [14]:
tn , fp , fn , tp = cm.ravel()
print(tn)
print(fp)
print(fn)
print(tp)

# cm.ravel(): Flattens the confusion matrix into a 1D array of four values: TN, FP, FN, and TP. print(tn, fp, fn, tp): Prints the counts of True Negatives (TN), False Positives (FP), False Negatives (FN), and True Positives (TP).

54
2
11
13

In [15]:
accu = accuracy_score(y_test,y_pred)  # accuracy_score(): Computes the accuracy of the model, which is the ratio of correct predictions to total predictions.
print(accu)

0.8375

In [16]:
error = 1-accu # Calculates the error rate, which is the complement of the accuracy (1 - accuracy).
print(error)

0.16249999999999998

In [17]:
recall = recall_score(y_test,y_pred) #  Computes the recall (True Positive Rate), which is the ratio of correctly predicted positive cases to all actual positives.
print(recall)

0.5416666666666666

In [18]:
pre = precision_score(y_test,y_pred) # Computes the precision (Positive Predictive Value), which is the ratio of correctly predicted positive cases to all predicted positives.
print(pre)

0.8666666666666667